{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <h2> {{ page.title }} </h2>
    <div class="intro">
        {{ page.intro | richtext }}
    </div>

    {% for post in blogpages %}

        {% with post=post.specific %}
            <h2><a href="{% pageurl post %}"> {{ post.title }}</a></h2>
            {{ post.specific.intro }}
            {{ post.specific.body | richtext }}
        {% endwith %}
    {% endfor %}

{% endblock content %}
